{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>New Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar bg" style="background-color: #191927">
    <img src="https://i.pinimg.com/originals/dd/64/da/dd64da585bc57cb05e5fd4d8ce873f57.png" style="width: 56px;height: 56px;border-radius:50%; margin-right:20px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="/">Recent Books</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="contact_dev">Contact the Developer</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="{% url 'orders' %}">My Orders</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="#" style="color: white;">Site Guide</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'addbooks' %}" style="color: white;">Request to Add Book</a>
          </li>
        </ul>
            <form class="form-inline my-lg-0" method="GET" >
                <input class="form-control mr-sm-2 search-bar-float-right" name="q" type="search" placeholder="Search" value="{{request.GET.q}}" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" id="myButton" type="submit">Search</button>
            </form>
      </div>
    </nav>

    <h1>{% block title %} {% endblock %}</h1>
    {% block content %}


    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="{% static 'js/test.js' %}"></script>

</body>
</html>